body, html 
{
  padding: 20px;
  font: 20px "Ubuntu", sans-serif;
  background-color: #F0F0F0;
}
input
{

	font: "Ubuntu", sans-serif;
	margin-right: 5px;
}
a 
{
  color: #00B7FF;
}
.noselect span 
{
	-webkit-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-ms-user-select: none;
}

.redRemove
{
	color: red;
}

.blueAdd
{
	color: blue;
}