body, html 
{
  padding: 20px;
  font: 20px "Ubuntu", sans-serif;
  background-color: #F0F0F0;
}
input
{

	font: "Ubuntu", sans-serif;
	margin-right: 5px;
}
a 
{
  color: #00B7FF;
}
.noselect span 
{
	-webkit-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-ms-user-select: none;

}

.redRemove
{
	color: red;
}

.blueAdd
{
	color: blue;
}

.button
{
	border: 1px solid black;
}

.buttonlike
{
	display: inline-block;
	padding: 0px 10px 0px 10px;

	margin-top: 10px;
	height: 40px;
	line-height: 40px;
	
	color: #A5C663;
	background-color: #582A72;
	text-align: center;
	
	border-radius: 4px;
	border: 1px solid black;

	-webkit-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-ms-user-select: none;
}

.buttonlike:hover
{
	color: #0E787D;
	background-color: #92D0D2;
	cursor: pointer;
}

.buttonlike:active
{
	color: #fff;
	background-color: #43a0a3;
}